In [20]:
from sys import executable
from IPython.display import clear_output

!{executable} -m pip install numpy pandas matplotlib ijson deeppavlov
clear_output()

In [21]:
import ijson
import json
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt

from io import StringIO

In [22]:
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
pd.set_option('display.float_format', lambda x: f'{x :.2f}')
plt.rcParams['figure.figsize'] = (20.0, 10.0)

# SQuAD

In [23]:
from deeppavlov.dataset_readers.squad_dataset_reader import SquadDatasetReader
dataset = SquadDatasetReader().read('./data/squad')

In [24]:
df_train = pd.DataFrame.from_dict(dataset['train']['data'])
df_valid = pd.DataFrame.from_dict(dataset['valid']['data'])

In [25]:
df_train.head()

                      title                                         paragraphs
0  University_of_Notre_Dame  [{'context': 'Architecturally, the school has ...
1                   Beyoncé  [{'context': 'Beyoncé Giselle Knowles-Carter (...
2                   Montana  [{'context': 'Montana i/mɒnˈtænə/ is a state i...
3                  Genocide  [{'context': 'The phrase "in whole or in part"...
4               Antibiotics  [{'context': 'The emergence of resistance of b...

In [26]:
df_valid.head()

,title,paragraphs
0,Super_Bowl_50,[{'context': 'Super Bowl 50 was an American fo...
1,Warsaw,[{'context': 'One of the most famous people bo...
2,Normans,[{'context': 'The Normans (Norman: Nourmands; ...
3,Nikola_Tesla,[{'context': 'Nikola Tesla (Serbian Cyrillic: ...
4,Computational_complexity_theory,[{'context': 'Computational complexity theory ...

In [27]:
df_train['paragraphs'][0][4]

{'context': "All of Notre Dame's undergraduate students are a part of one of the five undergraduate colleges at the school or are in the First Year of Studies program. The First Year of Studies program was established in 1962 to guide incoming freshmen in their first year at the school before they have declared a major. Each student is given an academic advisor from the program who helps them to choose classes that give them exposure to any major in which they are interested. The program also includes a Learning Resource Center which provides time management, collaborative learning, and subject tutoring. This program has been recognized previously, by U.S. News & World Report, as outstanding.",
 'qas': [{'answers': [{'answer_start': 496,
     'text': 'Learning Resource Center'}],
   'question': 'What entity provides help with the management of time for new students at Notre Dame?',
   'id': '5733a70c4776f41900660f64'},
  {'answers': [{'answer_start': 68, 'text': 'five'}],
   'question': 'How many colleges for undergraduates are at Notre Dame?',
   'id': '5733a70c4776f41900660f62'},
  {'answers': [{'answer_start': 155,
     'text': 'The First Year of Studies program'}],
   'question': 'What was created at Notre Dame in 1962 to assist first year students?',
   'id': '5733a70c4776f41900660f63'},
  {'answers': [{'answer_start': 647, 'text': 'U.S. News & World Report'}],
   'question': 'Which organization declared the First Year of Studies program at Notre Dame "outstanding?"',
   'id': '5733a70c4776f41900660f65'}]}

# SberQuAD

In [28]:
from deeppavlov.dataset_readers.squad_dataset_reader import SquadDatasetReader
dataset = SquadDatasetReader().read('./data/sberquad')

In [29]:
df_train = pd.DataFrame.from_dict(dataset['train']['data'])
df_valid = pd.DataFrame.from_dict(dataset['valid']['data'])

In [30]:
df_train.head()

           title                                         paragraphs
0  SberChallenge  [{'context': 'В допетровское время искусство в...

In [31]:
df_valid.head()

           title                                         paragraphs
0  SberChallenge  [{'context': 'В Миссолонги Байрон заболел лихо...

In [32]:
df_train['paragraphs'][0][4]

{'context': 'В начале 1823 года Грибоедов на время покинул службу и вернулся на родину, в течение двух с лишним лет жил в Москве, в с. Дмитровском (Лакотцы) Тульской губернии, в Петербурге. Здесь автор продолжил начатую на Кавказе работу с текстом Горя от ума , к концу года написал стихотворение Давид , драматургическую сцену в стихах Юность Вещего , водевиль Кто брат, кто сестра, или Обман за обманом (в кооперации с П. А. Вяземским) и первую редакцию знаменитого вальса e-moll . К этому же периоду жизни Грибоедова принято относить и появление первых записей его Desiderata — журнала заметок по дискуссионным вопросам русской истории, географии и словесности.',
 'id': '12672',
 'qas': [{'id': '47731',
   'question': 'В каком году Грибоедов написал водевиль Кто брат, кто сестра, или Обман за обманом ?',
   'answers': [{'answer_start': 9, 'text': '1823'}]}]}

# Preprocessing